mat-form-field {
    width: 100%;
}

.btn {
    text-align: center;
}

ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

.geo-info {
    margin-top: 2rem;
}